@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Document Review Panel</h1>
    <ul>
    @foreach(var document in Model.Documents)
    {
        <li>@document.Title</li>
    }
    </ul>
</div>
